.Button{
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 110px;
    justify-content: center;
    width: 110px;
}